<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAofDZmgY3zzAIELyyjsvKBLoRA4kfiaVE</string>
	<key>GCM_SENDER_ID</key>
	<string>1063157134083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.willyhsu.SwiftUIDemo</string>
	<key>PROJECT_ID</key>
	<string>swiftuidemo-2130a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuidemo-2130a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063157134083:ios:2598b5b11506b98a886f36</string>
</dict>
</plist>